.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

*/logs/log-*.php
*/logs/!index.html

uploads/*
!uploads/index.html
!uploads/.htaccess
